/* .cartItemWrapper{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    max-width:800px;
    width: 100%;
}
.cartItemWrapper img{
    max-width: 300px;
    max-height: 300px;
    width: 10%;
    height: 30%;
  
    border-radius: 20px;
  } */

.cart {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  width: 1100px;
  margin: 20px 40px 20px 0;
}
.amount span {
  color: crimson;
  padding: 0 20px;
}
.amount .count {
  width: 40px;
  height: 30px;
  border: 1px solid #555;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.delete {
  position: absolute;
  top: 0;
  right: 5px;
  color: crimson;
  cursor: pointer;
  font-weight: 900;
}

.details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}
.details img {
  max-width: 250px;
  min-width: 145px;
  height: 200px;
  display: block;
  object-fit: cover;
  margin: 25px;
}
.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}
.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span {
  color: crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p {
  line-height: 1.5;
  margin: 15px 0;
}
.box .cart {
  background: #333;
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: inline-block;
}
